instanceName=CrawlerTest
gui.enable=true
gui.clearLogInterval=86400

job.enable=VanillaTest2,VanillaTest1
job.VanillaTest1.impl=org.kquiet.job.crawler.test.VanillaTest
job.VanillaTest1.dailyStart=00:00:00
job.VanillaTest1.dailyEnd=00:00:00
job.VanillaTest1.interval=10
job.VanillaTest1.scheduleAfterExec=true
job.VanillaTest1.parameter={ "testParameter":"VanillaTest1" }
job.VanillaTest2.impl=org.kquiet.job.crawler.test.VanillaTest
job.VanillaTest2.dailyStart=00:00:00
job.VanillaTest2.dailyEnd=00:00:00
job.VanillaTest2.interval=10
job.VanillaTest2.scheduleAfterExec=true
job.VanillaTest2.parameter={ "testParameter":"VanillaTest2" }
job.RutenLaunchItem.impl=org.kquiet.job.crawler.test.ruten.LaunchItem
job.RutenLaunchItem.dailyStart=00:00:00
job.RutenLaunchItem.dailyEnd=00:00:00
job.RutenLaunchItem.interval=60
job.RutenLaunchItem.scheduleAfterExec=true
job.RutenLaunchItem.parameter={"account":"", "password":"" }
job.ShopeeLaunchItem.impl=org.kquiet.job.crawler.test.shopee.LaunchItem
job.ShopeeLaunchItem.dailyStart=00:00:00
job.ShopeeLaunchItem.dailyEnd=00:00:00
job.ShopeeLaunchItem.interval=60
job.ShopeeLaunchItem.scheduleAfterExec=true
job.ShopeeLaunchItem.parameter={"account":"", "password":"" }