instanceName=Crawler
gui.enable=false
gui.clearLogInterval=86400
browser.type=chrome
browser.headless=true

job.enable=CheckExistPC24Switch,Rent591A,Rent591B
job.Rent591A.impl=org.kquiet.job.crawler.Rent591Controller
job.Rent591A.dailyStart=00:00:00
job.Rent591A.dailyEnd=00:00:00
job.Rent591A.interval=1800
job.Rent591A.scheduleAfterExec=true
job.Rent591A.parameter={"botName":"Rent591A", "etcdEndPoints":"${env.crawler.etcdEndPoints}" }
job.Rent591B.impl=org.kquiet.job.crawler.Rent591Controller
job.Rent591B.dailyStart=00:00:00
job.Rent591B.dailyEnd=00:00:00
job.Rent591B.interval=1800
job.Rent591B.scheduleAfterExec=true
job.Rent591B.parameter={"botName":"Rent591B", "etcdEndPoints":"${env.crawler.etcdEndPoints}" }
job.CheckExistPC24Switch.impl=org.kquiet.job.crawler.CheckExistController
job.CheckExistPC24Switch.dailyStart=00:00:00
job.CheckExistPC24Switch.dailyEnd=00:00:00
job.CheckExistPC24Switch.interval=30
job.CheckExistPC24Switch.scheduleAfterExec=true
job.CheckExistPC24Switch.parameter={"botName":"CheckExistPC24Switch", "etcdEndPoints":"${env.crawler.etcdEndPoints}" }