instanceName=Crawler
gui.enable=false
gui.clearLogInterval=86400
browser.type=chrome
browser.maxTask=1
browser.pageLoadStrategy=NONE
browser.headless=true

job.enable=Sale591A

job.Sale591A.impl=org.kquiet.job.crawler.Sale591Controller
job.Sale591A.dailyStart=00:00:00
job.Sale591A.dailyEnd=00:00:00
job.Sale591A.interval=1800
job.Sale591A.scheduleAfterExec=true
job.Sale591A.parameter={"botName":"Sale591A"}

job.Rent591A.impl=org.kquiet.job.crawler.Rent591Controller
job.Rent591A.dailyStart=00:00:00
job.Rent591A.dailyEnd=00:00:00
job.Rent591A.interval=1800
job.Rent591A.scheduleAfterExec=true
job.Rent591A.parameter={"botName":"Rent591A"}

job.Rent591B.impl=org.kquiet.job.crawler.Rent591Controller
job.Rent591B.dailyStart=00:00:00
job.Rent591B.dailyEnd=00:00:00
job.Rent591B.interval=1800
job.Rent591B.scheduleAfterExec=true
job.Rent591B.parameter={"botName":"Rent591B"}

job.CheckExistPC24Switch.impl=org.kquiet.job.crawler.CheckExistController
job.CheckExistPC24Switch.dailyStart=00:00:00
job.CheckExistPC24Switch.dailyEnd=00:00:00
job.CheckExistPC24Switch.interval=30
job.CheckExistPC24Switch.scheduleAfterExec=true
job.CheckExistPC24Switch.parameter={"botName":"CheckExistPC24Switch"}

job.CheckExistMoMoSwitch.impl=org.kquiet.job.crawler.CheckExistController
job.CheckExistMoMoSwitch.dailyStart=00:00:00
job.CheckExistMoMoSwitch.dailyEnd=00:00:00
job.CheckExistMoMoSwitch.interval=30
job.CheckExistMoMoSwitch.scheduleAfterExec=true
job.CheckExistMoMoSwitch.parameter={"botName":"CheckExistMoMoSwitch"}

job.Pchome24hBuy.impl=org.kquiet.job.crawler.Pchome24hBuyController
job.Pchome24hBuy.dailyStart=00:00:00
job.Pchome24hBuy.dailyEnd=00:00:00
job.Pchome24hBuy.interval=1
job.Pchome24hBuy.scheduleAfterExec=true
job.Pchome24hBuy.parameter={"botName":"Pchome24hBuy", "loginAcc":"${crawler.pchome24h.loginAccount}", "loginPwd":"${crawler.pchome24h.loginPassword}" }


job.EasycardJcbRegister.impl=org.kquiet.job.crawler.EasycardJcbRegisterController
job.EasycardJcbRegister.dailyStart=00:00:00
job.EasycardJcbRegister.dailyEnd=00:00:00
job.EasycardJcbRegister.interval=1
job.EasycardJcbRegister.scheduleAfterExec=true
job.EasycardJcbRegister.parameter={"autoSubmit":"false", "parallelism":"5", "creditcard":"XXXX", "easycard":"XXXX"}

job.RailwayBook.impl=org.kquiet.job.crawler.RailwayBookController
job.RailwayBook.dailyStart=00:00:00
job.RailwayBook.dailyEnd=00:00:00
job.RailwayBook.interval=1
job.RailwayBook.scheduleAfterExec=true
job.RailwayBook.parameter={"autoSubmit":"false", "orderCount":"2", "pid":"XXXX", "fromStation_1":"1000", "toStation_1":"7000", "atDate_1":"2020/06/18", "trainNo1_1":"412", "trainNo2_1":"278", "trainNo3_1":"280", "quantity_1":"2", "changeSeat_1":"true", "fromStation_2":"7000", "toStation_2":"1000", "atDate_2":"2020/06/20", "trainNo1_2":"421", "trainNo2_2":"225", "trainNo3_2":"425", "quantity_2":"2", "changeSeat_2":"true"}


