instanceName=Crawler
gui.enable=false
gui.clearLogInterval=86400
browser.type=chrome
browser.headless=true

job.enable=Rent591A,Rent591B
job.Rent591A.impl=org.kquiet.job.crawler.Rent591Controller
job.Rent591A.dailyStart=00:00:00
job.Rent591A.dailyEnd=00:00:00
job.Rent591A.interval=600
job.Rent591A.scheduleAfterExec=true
job.Rent591A.parameter={"botName":"Rent591A", "etcdEndPoints":"http://192.168.56.101:2379" }
job.Rent591B.impl=org.kquiet.job.crawler.Rent591Controller
job.Rent591B.dailyStart=00:00:00
job.Rent591B.dailyEnd=00:00:00
job.Rent591B.interval=600
job.Rent591B.scheduleAfterExec=true
job.Rent591B.parameter={"botName":"Rent591B", "etcdEndPoints":"http://192.168.56.101:2379" }