<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="crawler">
    <insert id="CreateCase" parameterType="java.util.Map" statementType="PREPARED">
    <![CDATA[
        INSERT into case(site, url, imageUrl, description, price, createuser, createdate)
        SELECT * FROM (SELECT '591', #{url}, #{imageUrl}, #{description}, #{price}, #{createUser}, utc_timestamp()) AS temp
        WHERE NOT EXISTS(SELECT 1 FROM rent WHERE url=#{url})
    ]]>
    </insert>
</mapper>